requests==2.32.3
python-dotenv==1.0.1
psutil>=7.0.0

numpy==1.26.4
pandas==2.3.3
pyarrow==24.0.0

scikit-learn==1.5.2
mlflow==3.13.0
dagshub==0.5.10

dvc==3.67.1
dvc-http==2.32.0

joblib>=1.4.2
tqdm==4.68.1
